*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

html{
    background-color: #060b19;
    font-family: "Rubik",sans-serif;
}
.navbar-toggler {
    background-color: #060b19;
    filter: invert(100%);
}

#nav-bar{
   background-color: #060b19; 
   color: white;
}
#about-us{
    color: white;
}
#next-up{
    color: white;
}
#get-in-touch{
  color: white;
  
}
main{
    flex-grow: 1;
}
 
@media(min-width:576px){
    #nav-bar{
        border-bottom: 1px solid white;
        height: 12vh;
    }
    .nav-item{
    display:flex;
    width: 100%;
    flex-wrap: nowrap;
    margin: 0px;
    overflow: hidden;
    flex-direction: row;
    align-items: center;
    }
    .fist {
        font-weight: bold;
        padding: 2% 2%;
        margin-right: 25%;
    }
    .navbar-nav
    {
        min-width: 100%;
    }
   #about-us{
        padding-left: 25%;
        max-width: 100%;
        border-left: 1px solid white;
   }
   #up-next{
       padding-right: 61%;
   }
   #get-in-touch{
    color: white;
    margin-left:40%
}
   #social-link{
       display: flex;
       display-direction: column;
       align-items: center;
   }
   .fa-xl{
       margin: 0 10%;
   }
   li{
       margin: 0;
   }
   main{
    flex-grow: 1;
}
    main > section{
        display: grid;
        height: 100%;
}
    main > section > article-section{
        height: 100%;
    }

}