*{
    box-sizing: border-box;
}
html{
    background-color: #060b19;
    font-family: "Rubik",sans-serif;
}

nav{
    display:flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
    height: 10vh;
    margin: 0px;
    overflow: hidden;
    border-bottom: 1px solid white;
    align-items: center;
    
}
     


 .link-section
{
    padding: 3rem 2rem;
    display: flex;
    gap: 2rem;
    border-left: 1px solid white;
    align-items: center;
    justify-content: center;
    
}
.social-link,.GIT{
    padding: 3rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: .5px solid white;
    gap: 2rem;
   
 
    
}

.link-section,.social-link,.fist{
     flex-basis: calc(100%/4);
     flex-grow:1;
}

a{
     text-decoration: none;
     font-size: 1rem;
     color: white;
     font-weight: 400;
}

i{
    color:white;
}
.fist {
        font-weight: bold;
        padding: 3rem 2rem;
 
}

h3{
    color: white;
}

main{
    display:grid;
    justify-items: start;
    align-items: center;
    justify-content: start;
    
}
img{
    background-position: center;
    background-size: cover;
    width: 800px;
    height: 500px;
}