
:root {
  --border-color: rgb(255,255,255,0.3);
  
}

*{
    box-sizing: border-box;
    
}
html{
    background-color: #060b19;
    font-family: 'Space Grotesk', sans-serif;
    height:100%;
    
}
body{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    
    margin: 0px;
}

nav{
    display:flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
    height: 10vh;
    border-bottom: 1px solid var(--border-color);
    align-items: center;
    
}


nav> .nav-section{
    padding: 3rem 2rem;
    border-left: 1px solid var(--border-color);
    
}
     
.next-up{
    color: #716cae;
}

 #nav-link-section
{
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content:center;
}
#nav-social-section,#nav-donate-section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

#nav-link-section,#nav-social-section,#nav-fist-section{
     flex-basis: calc(100%/4);
     
}
#nav-donate-section{
    flex-grow:1;
}

a{
     text-decoration: none;
     font-size: 1rem;
     color: white;
     font-weight: 400;
}
p{
    font-family: 'Space Grotesk', sans-serif;
    color: #747083;
    font-size: 1rem;
    line-height: 160%;
}

i{
    color:white;
}
#nav-fist-section {
        font-weight: bold;
        padding: 3rem 2rem;
 
}

h1{
    color: white;
}

main {
    flex-grow:1;
   
    
    
}

 main > article{
  
    height:100%;
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows:2fr 1fr;
    
    
}
main > article>.article-section{
    height:100%;
    max-width: none;
    min-height: 100%;
    min-width: 100%;
    
    
}
main > article>.description-section,
main > article>.nav-section{
    
    border-left: 1px solid var(--border-color);
    
}
main > article>.title-section,
main > article>.nav-section{
     border-top: 1px solid var(--border-color)
     
}
.image-section {
    display: flex;
    align-items: center;
    
}
.description-section {
    display: flex;
    align-items: flex-end;
    font-size: 14px;
    line-height: 20px;
    margin-top: auto;
    padding: 2rem;
    color: #E1DCDC;
}
.title-section{
    display: flex;
    justify-content: space-evenly;
    font-family: Sequel100, sans-serif;
    font-size: 3.4rem;
    line-height: 10%;
    font-weight: 900;
    text-transform: uppercase;
}
.car{
    max-width: none;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
}
