* {
    background-color: #060b19 !important;
    font-family: "Space Grotesk", sans-serif;
    color: white;
}

h2, h3, h4, h5 {
    color: #716cae;
}

.charitiesCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    
}

.btn-primary {
    color: #fff;
    background-color: #716cae !important;
    border-color: #716cae !important;
}
.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #716cae !important;
    background-color: #716cae !important;
}

.btn-link {
    font-weight: 400;
    color: #c6c2ff !important;
    text-decoration: none;
}
.btn-link:hover {
    color: #c6c2ff !important;
    text-decoration: underline;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #c6c2ff !important; 
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
